.timer {
    margin-top: -36%;
    padding: 0;
    width: 100%;
    color: white;
}

h1 {
    margin: 0;
}

html {
    margin: 0;
}

.time {
    font-size: 4rem;
}

.tc {
    display: flex;
}

.nextimg img {
    float: left;
    margin-right: 3%;
    max-width: 17%;
}

.nextimg h3 {
    float: left;
    max-width: 80%;
    margin-top: 0rem;
}

.nextimg {
    margin: auto 0;
}

.obv {
    background-color: rgba(44, 47, 51, 0);
    border-radius: 10px;
    padding: 30px 0;
}

body {
    background-color: #282828;
}

.cards {
    margin: 70px 0;
}

.card1 {
    border: none;
    color: white;
    background-color: #1A1A1D;
    z-index: -1;
    padding: 10px;
    border-radius: 5px;
}

.card1 p {
    margin: 0;
    margin-top: 10%;
}

.card1 .row {
    margin: 0;
     !important
}

.name {
    max-width: 65%;
    float: left;
    margin-left: 3%;
}

.starts {
    margin: 0;
    margin-top: -8%;
}

.cardimg {
    float: left;
    max-width: 32%;
}

.downloadbtn {
    width: 40%;
    font-size: 24px;
    background-color: #3500D3;
    transition: 1s;
    border-radius: 10px;
    padding: 12px;
}

.downloadbtn:hover {
    background-color: #404EED;
    color: #F6F6F6;
    transition: 1s;
}

.downloadbtn a {
    color: white;
}

nav {
    position: fixed;
    background-color: #404EED;
    padding: 5px 0;
    height: 74px;
    z-index: 0;
    transition: 1s;
}

nav a:hover {
    color: #99AAB5;
    transition: 1s;
}

nav a {
    transition: 1s;
}

.fb {
    background: linear-gradient(45deg, #3500D3 32%, #C3073F);
    margin: 0;
    border: none;
    padding: 5px 0;
}

.soc {
    color: white;
    font-size: 20px;
    margin: 15px 0;
    margin-right: 20px;
    transition: 1s;
}

.soc:hover {
    color: #C3073F;
    transition: 1s;
}

body {
    font-family: Roboto Mono;
}

.shadow {
    box-shadow: -2px -2px #5ff, 2px 2px #f5f;
}

.shadowtext {
    text-shadow: -2px -2px #5ff, 2px 2px #f5f;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-style: solid;
    border-color: #C3073F;
    border-width: 1px;
    border: none;
    border-radius: 8px;
    background-color: #1A1A1D;
    background-color: #131314;
/*    background: linear-gradient(75deg, #3500D3, #1A1A1D 8%, 99%, #C3073F)*/
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

.coolbackground {
    position: relative;
    background: linear-gradient(45deg, #3500D3 32%, #C3073F);
    padding: 2px;
    border-radius: 6px;
}
