.timer {
    margin-top: -40%;
    padding: 0;
    width: 100%;
    color: white;
}

h1 {
    margin: 0;
}

html {
    margin: 0;
}

.time {
    font-size: 4rem;
}

.tc {
    display: flex;
}

.nextimg img {
    float: left;
    margin-right: 3%;
    max-width: 17%;
}

.nextimg h3 {
    float: left;
    max-width: 80%;
    margin-top: 0rem;
}

.nextimg {
    margin: auto 0;
}

.obv {
    background-color: rgba(44, 47, 51, 0.5);
    border-radius: 10px;
    padding: 30px 0;
}

body {
    background-color: #23272A;
}

.cards {
    margin: 70px 0;
}

.card {
    border-style: solid;
    border-radius: 5px;
    border-color: #99AAB5;
    border: none;
    background-color: #2C2F33;
    box-shadow: -2px -2px #5ff, 2px 2px #f5f;
    color: white;
}

.card p {
    margin: 0;
    margin-top: 10%;
}

.card .row {
    margin: 0; !important
}

.name {
    max-width: 65%;
    float: left;
    margin-left: 3%;
}

.starts {
    margin: 0;
    margin-top: -8%;
}

.cardimg {
    float: left;
    max-width: 32%;
}

.downloadbtn {
    width: 40%;
    font-size: 24px;
    background-color: #404EED;
    transition: 1s;
    border-radius: 5px;
    padding: 20px;
    box-shadow: -2px -2px #5ff, 2px 2px #f5f;
}

.downloadbtn:hover {
    background-color: #5865F2;
    color: #F6F6F6;
    transition: 1s;
}

.downloadbtn a {
    color: white;
}

nav {
    position: fixed;
    background-color: #404EED;
    padding: 5px 0;
    height: 74px;
    z-index: 0;
    transition: 1s;
}

nav a:hover {
    color: #99AAB5;
    transition: 1s;
}

nav a {
    transition: 1s;
}

.card {
    z-index: -1;
    padding: 10px;
    margin: 10px 0;
}

.fb {
    background-color: #404EED;
    margin: 0;
    padding: 5px 0;
}

.soc {
    color: white;
    font-size: 20px;
    margin: 15px 0;
    margin-right: 20px;
    transition: 1s;
}

.soc:hover {
    color: #99AAB5;
    transition: 1s;
}

body {
    font-family: Roboto Mono;
}

.shadow {
    box-shadow: -2px -2px #5ff, 2px 2px #f5f;
}

.shadowtext {
    text-shadow: -2px -2px #5ff, 2px 2px #f5f;
}